{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
    {{page_title}}
{% endblock page_title %}
{% endblock meta %}


{% block content %}

<section class="container-fluid ">
    <div style="font-family: 'Manuale', serif;" class="section-title mx-auto text-center mt-5">
        <div class="flex-col">

            <h1>Activity List</h1>

        </div>
        
    </div>

    <div style="font-family: LemonMilk;" class="row w-100 justify-content-center">
        {% for activity in kegiatan %}
        <div class="col-4 m-4 p-4 rounded border">
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary"> <b> {{ activity.nama_kegiatan }} </b> </li>

                {% for itemorang in orang %}
                {% if itemorang.kegiatan == activity %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        {{ itemorang.nama_orang }}
                        
                        <a href="{% url 'story6:delete' itemorang.id %}" class="btn btn-warning">Delete</a>
                        

                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <div style="font-size: .75em;" class="section-title mx-auto text-center my-3">

                <a href="{% url 'story6:register' activity.id %}" class="btnMatkul">
                    <button> Register Yourself!</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>









{% endblock content %}
