/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Manuale:wght@400;500;600&display=swap');

.slidebackground {
  background-color: #fff1c0;
  width: 100vw;
  height:88vh;
}

table,th,td{
  width : 50vw;
  padding: 20px;
  padding-left: 100px;
  position: relative;
  border: 0px solid transparent   
}
.container-fluid {
  margin-top: 10vh;
  text-align: center;
  height: 30vh;
}

.containerhome {
width : 80vw;
height: 60vh;
}
.myflex {
display: flex;
flex-direction: row;
}

.img {
  margin: auto;
  max-width: 10vw;
  position: relative;
}
.img-contact {
width: 10vw;
height: 10vw;
display: inline-block;

}
.my-con{
  background-color: #fff1c0;
  margin-top: 3vh;
  height: 60vh;
  margin-left: 15vw;
}
.my-row {
  background-color: #E8E8E8;
}
.row-page {
  height: 50vh;
}
.col-page{
  height: 50vh;
}
.col-about{
height: 90vh;

}
.img-fluid {
margin-top: 12vh;
}
.my-col {
  height: 50vh;
}

.headerabout {
font-family: 'Manuale', serif;
font-weight: 400;
font-size: 5vw;
text-align: justify;
margin-top: 3vh;
}
.textabout {
font-family: 'Manuale', serif;
font-weight: 400;
font-size: 1.5vw;
text-align: justify;
margin-top: 2px;
}

.header-excont {
font-family: 'Manuale', serif;
font-weight: 400;
font-size: 5vw;
text-align: justify;
margin-top: 3vh;

}
.header-gal{
  font-family: 'Manuale', serif;
  font-weight: 400;
  font-size: 5vw;
  text-align: justify;
  margin-top: 13vh;
}
.name {
  font-family: 'Manuale', serif;
  font-weight: 400;
  font-size: 5vw;
  text-align: center;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
}

.rowdua {
  width: 50vw;
}


.text {
  font-family: 'Manuale', serif;
  font-weight: 400;
  font-size: 1.5vw;
  text-align: justify;
  margin-top: 2px;
}

.subheader {
  font-family: 'Manuale', serif;
  font-weight: 400;
  font-size: 3vw;
  text-align: center;
  margin-top: 1vh;
}
.figure-caption {
  font-family: 'Manuale', serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}


.container img {
  margin: auto;
  max-width: 20vw;
  margin-top: 19vh;

}

.navbar {
  background-color: #fff1c0;
  font-family: 'Manuale', serif;

}
.navbar .navbar-brand {
  color: #201f1b;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #9a9504;
}
.navbar .navbar-text {
  color: #201f1b;
}
.navbar .navbar-text a {
  color: #9a9504;
}
.navbar p{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 25px;
  border: none;
  font-family: 'Manuale', serif;
  font-weight: 700;

}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #9a9504; 
}
.navbar .navbar-nav .nav-link {
  color: #201f1b;
  border-radius: .25rem;
  margin:  0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #9a9504;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #9a9504;
  background-color: #ebc96c;
}
.navbar .navbar-toggle {
  border-color: #1a1918;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #181714;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #131212;
  background-color: #131212;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #201f1b;
}
.navbar .navbar-link {
  color: #201f1b;
}
.navbar .navbar-link:hover {
  color: #9a9504;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #111110;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #9a9504;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #9a9504;
    background-color: #ebc96c;
  }
  .navbar-inverse {
      opacity: 2.0;
 }
 .containerhome {
    width : 80vw;
    height: 70vh;
  }
  .container img {
    max-width: 35vw;
    padding-top: 10vh;

  }

  .img-aboutme {
    margin-top: 20vh;
    max-width: 50vw;
    margin-left: 5vw;
  }
  .img-contact {
    width: 10vw;
    height: 10vh;
    display: inline-block;
  
  }
  .img-home{
    margin: auto;
    position: relative;
    max-width: 70vw;
    padding-top: 10vh;
  
  }
  
  table,th,td{
    width : 50vw;
    position: relative;
    
  }

  .row-page {
    height: 30vh;
  }
  .col-page{
    position: relative;
    height: 45vh;
  }
  .col-about{
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .my-col {
    height: 50vh;
  }
  .myflex {
    display: flex;
    flex-direction: row;
  }
  .text {
      font-size: 4vw;
      padding-bottom: 0.5vh;
  }
  .subheader {
    font-size: 6vw;
    padding-bottom: 0.5vh;
  }
  .name {
    font-size: 5vw;
    margin-top: 4vh;
  }
  .header-gal{
    font-size: 10vw;
    margin-top: 15vh;
  }
  .header-excont {
    font-size: 10vw;
  }
  .headerabout {
    font-size: 8vw;
  }
  .textabout {
    font-size: 2.5vw;
    margin-top: 2px;
  }

  .my-con{
    margin-top: 2vh;
    width: fit-content;
    height: 65vh;
    width: 70vw;
    margin-left: 10vw;
    padding: center;
  }

  .slidebackground {
      background-color: #fff1c0;
      width: 100%;
      height:auto;
  }

  thead th:not(:first-child) {
    display: none;
  }

  td, th {
    display: block;
  }

  td[data-th]:before  {
    content: attr(data-th);
  }
 
 
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #201f1b;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #9a9504;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #9a9504;
    background-color: #ebc96c;
  }
  .navbar-inverse {
      opacity: 1.0;
  } 
  
  .containerhome {
    width : 80vw;
    height: 90vh;
  }
  .container img {
    max-width: 25vw;
    padding-top: 10vh;

  }

  .img-aboutme {
    margin-top: 15vh;
    max-width: 50vw;
    margin-left: 3vw;
  }
  .img-contact {
    width: 16vw;
    height: 16vh;
    display: inline-block;
  }
  .img-home{
    margin: auto;
    position: relative;
    max-width: 70vw;
    padding-top: 10vh;
  
  }
  
  table,th,td{
    width : 50vw;
    position: relative;
    
  }

  .row-page {
    height: 30vh;
  }
  .col-page{
    position: relative;
    height: 45vh;
  }
  .col-about{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .my-col {
    height: 50vh;
  }
  .myflex {
    display: flex;
    flex-direction: row;
  }
  .text {
      font-size: 2.5vw;
      padding-bottom: 0.5vh;
  }
  .subheader {
    font-size: 4vw;
    padding-bottom: 0.5vh;
  }
  .name {
    font-size: 6vw;
    margin-top: 4vh;
  }
  .header-gal{
    font-size: 7vw;
    margin-top: 15vh;
  }
  .header-excont {
    font-size: 7vw;
  }
  .headerabout {
    font-size: 8vw;
  }
  .textabout {
    font-size: 2.5vw;
    margin-top: 2px;
  }

  .my-con{
    margin-top: 2vh;
    width: fit-content;
    height: 63vh;
    width: 70vw;
    margin-left: 10vw;
    padding: center;
  }

  .slidebackground {
      background-color: #fff1c0;
      width: 100%;
      height:auto;
  }

  thead th:not(:first-child) {
    display: none;
  }

  td, th {
    display: block;
    margin-top: -24vh;
  }

  td[data-th]:before  {
    content: attr(data-th);
  }
}



  


.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #201f1b;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #9a9504;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #9a9504;
  background-color: #ebc96c;
}


