{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid myflex">
    <div class="row">
        <div class="col-5">
            <div class="headerabout">
                About Me
            </div>
            <div class="textabout">
              I’m an experience seeker who is constantly learning how to be a better person for my surrounding. 
              Currently studying as an Information System Student in University of Indonesia.
            </div>
            <div class="headerabout">
                Skill
            </div>
            <div class="textabout">
              Financial Management <br>
              Japanese Language (elementary)<br>
              Teamwork<br>
              Adaptability
            </div>
        </div>
        <div class="col-7 col-about" style="background-color: #E8E8E8;">
          <img src= "{% static 'img/photo.svg'%}" class="img-fluid img-aboutme">

        </div>
    </div>
</div>
{% endblock content %}