{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <div class="row row-page">
        <div class="col-8 col-page">
            <div class="header-excont">
                Contact
            </div>
            <div class="container my-con">
                <table>
                    <tr>                                    
                        <td>
                            <a href="https://www.instagram.com/azzahrabr/">
                            <img src="{% static 'img/instagram 1.svg'%}" alt="Instagram" class = "img-contact"/>
                            </a>
                        </td>
                        <td>
                            <a href="https://www.linkedin.com/in/azzahra-banowati-rahmah-16065319a/">
                            <img src="{% static 'img/linkedin 1.svg'%}" alt="LinkedIn" class="img-contact" />
                            </a>
                        </td>
                        <td>
                            <a href="mailto:azzahrabanowatirahmah@gmail.com">
                            <img src="{% static 'img/email 1.svg'%}" alt="Email" class="img-contact" />
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}