{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <div class="row row-page">
        <div class="col-8 col-page">
            <div class="header-excont">
                Experience
            </div>
            <div class="container my-con">
                <div class="subheader">
                    Wisuda Ganjil 2020
                </div>
                <div class="text" style="text-align: center;">
                    Staff of Consumption
                </div>
                <div class="subheader">
                    COMPFEST 2020
                </div>
                <div class="text" style="text-align: center;">
                    Staff of Fundraising
                </div>
                <div class="subheader">
                    PMB 2020
                </div>
                <div class="text" style="text-align: center;">
                    Treasurer
                </div>
                <div class="subheader">
                    Wisuda Genap 2020
                </div>
                <div class="text" style="text-align: center;">
                    Staff of Relation
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}