{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <div class="header-gal">
        Gallery
      <div class="row">
          <div class="col-md-3">
              <a href="{% static 'img/IMG_1898.JPG'%}" data-toggle="lightbox" data-gallery="img-gallery">
                <img src= "{% static 'img/IMG_1898.JPG'%}" class="img-fluid img-thumbnail">
              </a>
              <figcaption class="figure-caption">---Jakarta,Indonesia</figcaption>
          </div>
          <div class="col-md-3">
            <a href="{% static 'img/IMG_5517.JPG'%}" data-toggle="lightbox" data-gallery="img-gallery">
              <img src= "{% static 'img/IMG_5517.JPG'%}" class="img-fluid img-thumbnail">
            </a>
            <figcaption class="figure-caption">---Bandung,Indonesia</figcaption>

        </div>
        <div class="col-md-3">
            <a href="{% static 'img/IMG_5652.JPG'%}" data-toggle="lightbox" data-gallery="img-gallery">
              <img src= "{% static 'img/IMG_5652.JPG'%}" class="img-fluid img-thumbnail">
            </a>
            <figcaption class="figure-caption">---Surabaya,Indonesia</figcaption>

        </div>
        <div class="col-md-3">
            <a href="{% static 'img/IMG_8765.jpg'%}" data-toggle="lightbox" data-gallery="img-gallery">
              <img src= "{% static 'img/IMG_8765.jpg'%}" class="img-fluid img-thumbnail">
            </a>
            <figcaption class="figure-caption">---Hakone,Japan</figcaption>

        </div>
      </div>
      </div>
  </div>
{% endblock content %}