{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="slidebackground">
    <div class="container">
    <div class="container containerhome">
    <div class="row" style="margin-top: 5vh;">
        <img src= "{% static 'img/profile.JPG'%}" class="img-home">
    </div>
    <div class="row" style="text-align: center;">
      <div class="name">
          Hey, It's<br>
          Azzahra Banowati Rahmah
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock content %}
