{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azzahra Banowati's profile</title>
    <style>
        body {
            background-color: #fff1c0;
            font-size: 20px;
            color: rgb(3, 53, 66);
        }

        .container{
            width: 700px;
            background-color: #E0E4CC;
            height: 2000px;
            margin-left: auto;
            margin-right: auto;
        }
        .container img {
            margin-left: 250px;
            margin-right: 100px;
            max-width: 200px;

        }
        .container p {
            text-indent: 40px;
            text-align: center;
            font-family: 'Roboto', sans-serif;  
        }

        .container h2 {
            text-align: center;
            padding-top: 70px;
        }

        .subtitle {
            padding-left: 200px;
            padding-right: 100px;
            font-size: 30px;
            margin-top: -20px;

        }
        
        .font {
            font-family: 'Merriweather', serif;
            padding-left: 100px;
            padding-right: 100px;

        }
        

        table, th, td {
          border: 4px solid black;
          border-collapse: collapse;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          width: 60%;
          color: black;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
        }

    </style>
</head>
<body>
    <div class="container">
        <img src= "https://i.postimg.cc/Y0H7wrHb/IMG-8229.jpg">
        <h1 style="text-align:center;">Azzahra Banowati Rahmah</h2>
        <div class="subtitle">Information System 2019</div>
        <p>Student number: 1906353782</p>
        
        <h2> About Me</h2>
        <p> Hello! My name is Azzahra. And now I'm in my second year of collage majoring in Information System. I am a supportive person and also reliable. I love making new friends and experiences. My hobbies are watching movies and listening to some music. </p>

        <h2>Educational Background</h2>
        <table>
            <tr>
              <th>Education</th>
              <th>Years</th> 
            </tr>
            <tr>
              <td>Tokyo Indonesian School</td>
              <td>2013-2016</td>
            </tr>
            <tr>
              <td>SMA Negeri 21 Jakarta</td>
              <td>2016-2019</td>
            </tr>
            <tr>
              <td>University of Indonesia</td>
              <td>2019-present</td>
            </tr>
          </table>
        
        <h2>Contact</h2>
        <a href="https://www.instagram.com/azzahrabr/"><img src="https://www.iconfinder.com/data/icons/instagram-new/512/instagram-logo-color-512.png" height="100" ></a>
        <a href="https://www.linkedin.com/in/azzahra-banowati-rahmah-16065319a/"><img src="https://www.shareicon.net/data/512x512/2017/06/30/888065_logo_512x512.png" height="110"></a>

    </div>       
            
</body>
{% endblock content %}
</html>
