
{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
    {{page_title}}
{% endblock page_title %}
{% endblock meta %}


{% block content %}
<div class="container-fluid" style="text-align:justify;">
    <h1 style="font-family: 'Manuale', serif;">Add a course</h1>
    <form method="POST">
        {% csrf_token %}
        <table style="font-family: 'Manuale', serif; background-color: #E8E8E8 ;">
            {{post_form.as_table}}
        </table>
        <table class="center" style="font-family: 'Manuale', serif; background-color: #E8E8E8 ;">
            
            <tbody>
            <td>
                <button type="Submit">Send</button>
            </td>
            </tbody>
        </table>    
    </form>

</div>
{% endblock content %}