{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
    {{page_title}}
{% endblock page_title %}
{% endblock meta %}


{% block content %}
<div class="container-fluid" style="text-align:justify;">
    <h1 style="font-family: 'Manuale', serif;">{{page_title}}</h1>

    <table style="font-family: 'Manuale', serif;" class="table">
        <thead>
            <tr>
                <th scope="col">Nama Mata Kuliah</th>
                <th scope="col">Jumlah SKS</th>
                <th scope="col">Ruangan</th>
                <th scope="col">Nama Dosen</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Semester Tahun</th>
                <th scope="col">Delete</th>


            </tr>
        </thead>
        <tbody>
            {%for post in posts %}
            <tr>
                <td><a href="{% url 'form:matkuldetail' post.id %}">{{post.nama_matkul}}</a></td>                
                <td>{{post.jumlah_sks}}</td>
                <td>{{post.ruangan}}</td>
                <td>{{post.dosen}}</td>
                <td>{{post.deskripsi}}</td>
                <td>{{post.semester_tahun}}</td>
                <td>
                    <a href="{% url 'form:delete' post.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}
