{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
    {{page_title}}
{% endblock page_title %}
{% endblock meta %}

{% block content %}
<div class="container-fluid" style="text-align:justify;">
    <h1 style="font-family: 'Manuale', serif;">{{page_title}}</h1>


<div class="card">
    <div style="background-color:#cdc9c383; " class="card-header rounded-t-lg">
        <h1 style="font-family: 'Manuale', serif;" class="text-uppercase text-center">{{nama_matkul.nama_matkul}}</h1>
    </div>
    <div style="font-family: 'Manuale', serif;background-color:#fbf7f0;" class=" card-body">
        <table class="table">
            <tbody>
                <tr>
                    <td style="border-right: 2px solid black;" class="font-weight-bolder px-4 py-2">Jumlah SKS
                    </td>
                    <td class="text-sm-justify px-4 py-2">{{nama_matkul.jumlah_sks}}</td>
                </tr>
                <tr>
                    <td style="border-right: 2px solid black;" class="font-weight-bolder px-4 py-2">Ruangan
                    </td>
                    <td class="text-sm-justify px-4 py-2">{{nama_matkul.ruangan}}</td>
                </tr>
                <tr>
                    <td style="border-right: 2px solid black;" class="font-weight-bolder px-4 py-2">Dosen
                    </td>
                    <td class="text-sm-justify px-4 py-2">{{nama_matkul.dosen}}</td>
                </tr>
                <tr>
                    <td style="border-right: 2px solid black;" class="font-weight-bolder px-4 py-2">Deskripsi
                        matkul</td>
                    <td class="w-100 text-sm-justify px-4 py-2">{{nama_matkul.deskripsi}}</td>
                </tr>
                <tr>
                    <td style="border-right: 2px solid black;" class="font-weight-bolder px-4 py-2">Semester
                    </td>
                    <td class="text-sm-justify px-4 py-2">{{nama_matkul.semester_tahun}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="flex-1 text-gray-700 text-center  py-2 m-2 ">
    <div class="rounder-lg ">
        <a class="btn btn-primary btn-lg" href="/form/" role="button">Back to the list</a>
    </div>
</div>
{% endblock content %}
