{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 style="font-family: 'Manuale', serif;" class="display-4">My Courses</h1>
        <p class="lead">Hello, You can add new course or see the list of existing courses
        </p>
        <hr class="my-4">
        <p>If you want to add a new course, choose the Add a course one else choose the other</p>
        <a class="btn btn-primary btn-lg" href="/form/create" role="button">Add a course</a>
        <a class="btn btn-primary btn-lg" href="/form/" role="button">See the list</a>
    </div>

</div>
{% endblock content %}